html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------------------------- */

* {
    box-sizing: border-box;
}

.logo {
    font-size: 40px;
    padding: 10px;
    color: white;
    font-weight: 700;

}

.nav {
    margin-left: 700px;
    flex-grow: 1;
    display: flex;
    padding-bottom: 100px;

}

.nav a {
    padding: 20px;
    justify-content: space-between;
    text-decoration: none;
    color: lightgreen;
    text-transform: uppercase;
    font-weight: 700;

}

.flex {
    display:flex;

}

.head {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 100px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
}

.button {
    /* height: 50px;
    width: 100px; */
    background: #5EBD8B;
    padding: 15px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    text-transform: uppercase;
}

.header-h1 {
    font-size: 42px;
    line-height: 1.5;
    width: 50%;
    border-right: 2px solid #6D597F;
    font-weight: 700;
    word-spacing: 10px;
    color: white;

}

.head-para {
    padding: 40px;
    width: 50%;
    font-size: 20px;
    color: darkgrey;
    letter-spacing: 1.5px;

}

.button-div {
    margin-top: 50px;
}

/* section-1 */

.section-1 {
    padding-bottom: 150px;
}

.section-1-content {
    padding-top: 50px;
    width: 50%;
    border-right: 2px solid lightgrey;
    font-size: 24px;
    margin-top: 30px;
    /* margin: 0 auto; */
}

.section-1-content h1 {
    font-size: 32px;
    color: grey;
    font-weight: 700;
    padding-bottom: 30px;
}

.section-1-content p {

    font-size: 20px;
    color: darkgrey;
    letter-spacing: 1.5px;
    margin-right: 30px;
}

.section-1-content-2 {
    font-size: 24px;
    color: black;
    padding-top: 68px;
    padding-left: 50px;
    word-spacing: 5px;
    line-height: 2.5;

}

.section-img {
    background: #FAFAFA;
    padding-bottom: 50px;
}

article {
     background:white;
     border-bottom: 1px lightgrey solid;
}

.padding {
    padding: 50px;
}

img {
    width: 100%;
}

.img-section-2 {
    width: 40%;
}

.para-section-2 {
    width: 60%;
    padding-left: 30px;
}

.para-section-2 h3 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px; 

}

.para-section-2 p {
    padding-top: 30px;
    line-height: 1.5;

}

.button-2 {
    /* height: 50px;
    width: 100px; */
    background: white;
    padding: 15px;
    border-radius: 12px;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    border: 1px lightgrey solid;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.last-button {
   text-align: center;
   margin-bottom: 30px;
   padding: 20px;
   
   /* width: 200px; */
   
}

.copy {
    text-align: center;
    padding-bottom: 80px;
    background: #FAFAFA;
    padding-top: 80px;
}

/* form=== */

.name {

    padding: 10px;
    width: 40%;
    height: 50px;
    border: 1px lightgrey solid;
    color: grey;

}

.email {
    padding: 10px;
    width: 46.5%;
    height: 50px;
    border: 1px lightgrey solid;
    margin-bottom: 20px;
    margin-left: 20px;
    color: grey;
}

.message {
    padding: 10px;
    width: 90%;
    height: 350px;
    border: 1px lightgrey solid;
    color: grey;
}

.form-div {
    margin-top: 30px;
}

.border {
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.button:hover {
    color: #3c1053;
    background:white;
}

.button-2:hover {
    background: black;
    color: white;
    font-weight: 700;
}

.message:hover , .name:hover , .email:hover {
    outline: 1px lightblue solid;
    /* box-shadow: 1px 1px 1px 0 1 black; */
}



