html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------- */
/* mystyle */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    background: #141D25;
    padding: 30px 0;
}
.nav li {
    margin-left: 30px;
}
.nav a {
    /* margin-left: 30px; */
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    /* text-transform: uppercase;   */
    
}

.logo img {
    width: 140px;
}

.dropdown {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.section-1 {
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    padding-bottom: 100px;
    align-items: center;
}

.section-1 h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke;
    padding-top: 80px;
    line-height: 1.5;
    
}

.section-1 p {
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke;
    word-spacing: 5px;
}

.section-2-div h3 {
    color: black;
    font-size: 3em;
    font-weight: 700;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gallery {
    padding: 50px;
}

.gl-box {
    padding: 50px;
    outline: 1px solid black;
    width: 30%;
    margin: 1.5%;
    align-items: center;
}

.gl-box img {
    border-radius: 50%;
    width: 100%;
    
}

.bg {
    background: #1f4037;
}

.para-div p {
    text-align: left;
    width: 45%;
    line-height: 1.5;

}

.para-button {
  
    width: 20%;
    border: #141D25 1px solid;
    height: 100px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 80px;
}

.para-button a {
    text-decoration: none;
    color: black;
}

.color {
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.send {
    text-align: left;
}

.form-design {
    height: 80px;
    border: none;
    border-bottom: lightgrey 1px solid;
    margin-bottom: 20px;
    font-size: 30px;
}

textarea {
    border: none;
    border-bottom: lightgrey 1px solid;
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
}

.section-iframe {

    text-align: center;
    padding-bottom: 100px;
    align-items: center;
    background: grey;
}

iframe {
    display: flex;
   
}

.div-iframe {
    padding-top: 100px;
}

.table {
    margin: 0 auto;
    /* font-size: 36px; */
    border: 1px solid black;
    /* background: blue; */
}

.section-table {
    padding: 100px;
}

table td , th{
    /* padding-left: 200px; */
    line-height: 3;
    border: none;
    border-bottom: 2px black solid;
    padding: 20px 150px 10px 50px;
    font-size: 36px;
  

}

.footer {
    margin: 0 auto;
    background: #19242E;
    padding-bottom: 30px;
}

.footer-div {
    text-align:center;
    padding: 50px;
}

small {
    font-size: 26px;
    color: lightgray;
}

.head-row {
    background: #1E2639;
    color: #205571;
}

.row1 {
    background: #323C50;

}

.row2 {
    background: #2B3346;
}

.table-h1 {
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 1em;
}

.section-info {
    background: #2C3E50;
}

.info-div {
    padding-top: 30px;
    padding-bottom: 200px;
    line-height: 1.5;

}

.info {
    font-size: 32px;
    color: white;
    margin-left: 30px;
    width: 30%;
    padding-top: 4em;
}

@media all and (max-width:768px) {

}
