html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------- */
/* mystyle */
body {
    /* background: purple; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    background: #141D25;
    padding: 30px 0;
}
.nav li {
    margin-left: 30px;
}
.nav a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo svg {
    width: 140px;
}

.dropdown {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.section-1 {
    background: #44A08D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    text-align: center;
    padding-bottom: 100px;
    align-items: center;
}

.section-1 h1 {
    font-size: 5em;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke;
    padding-top: 80px;
    line-height: 1.5;
    
}

.section-1 p {
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
    color: whitesmoke;
    word-spacing: 5px;
}

.section-2-div h3 {
    color: black;
    font-size: 3em;
    font-weight: 700;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gallery {
    padding: 50px;
}

.gl-box {
    padding: 50px;
    outline: 1px solid black;
    width: 30%;
    margin: 1.5%;
    align-items: center;
}

.gl-box img {
    border-radius: 50%;
    width: 100%;
}

.bg {
    background: #1f4037;
}

.bg-1 {
    background: #bb6b10;
}

.bg-2 {
    background: #da4577;
}

.bg-3 {
    background: #485fe2;
}

.bg-4 {
    background: #a133cc;
}

.bg-5 {
    background: #0cc6e7;
}


.para-div p {
    text-align: left;
    width: 45%;
    line-height: 1.5;

}

.para-button {
  
    width: 20%;
    border: #141D25 1px solid;
    height: 100px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 80px;
}

.para-button a {
    text-decoration: none;
    color: black;
}

.color {
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.send {
    text-align: left;
}

.form-design {
    height: 80px;
    border: none;
    border-bottom: lightgrey 1px solid;
    margin-bottom: 20px;
    font-size: 30px;
}

textarea {
    border: none;
    border-bottom: lightgrey 1px solid;
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
}

.section-iframe {

    text-align: center;
    padding-bottom: 100px;
    align-items: center;
    background: grey;
}

iframe {
    display: flex;
   
}

.div-iframe {
    padding-top: 100px;
}

.table {
  text-align: center;
  align-items: center;
  /* margin-left: 29.2%; */
  margin-bottom: 5em;
  
}
.table table {
    width: 100%;
}

.table-h1 {
    /* margin: 2em; */
    padding-top: 1em;
}

table td , th {
    /* padding-left: 200px; */
    line-height: 3;
    /* padding: 20px 100px 10px 50px; */
    font-size: 36px;
}

.footer {
    margin: 0 auto;
    background: #19242E;
    padding-bottom: 30px;
}

.footer-div {
    text-align:center;
    padding: 50px;
}

small {
    font-size: 26px;
    color: lightgray;
}

.head-row {
    background: #1E2639;
    color: #205571;
}

.row1 {
    background: #323C50;

}

.row2 {
    background: #2B3346;
}

.table-h1 {
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 1em;
}

.section-info {
    background: #2C3E50;
}

.info-div {
    padding-top: 30px;
    padding-bottom: 200px;
    line-height: 1.5;

}

.info {
    flex-direction: column;
    font-size: 32px;
    color: white;
    margin-left: 30px;
    width: 30%;
    padding-top: 4em;
}

.info h3 {
    margin-top: 2em;
}

.links-icon {
    padding-top: 50px;
}
/* w3school */

.dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 700;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* media-queries */

@media all and (max-width:992px) {

    .wrapper , .footer , .section-info , .section-table , .section-iframe,.section-2-div , .head {
        /* width: 1000px;  */
     
    }

    * {
        font-size: 10px;
    }

    nav {
        padding: 100px;
        display: inline-block;
        font-size: 10px;
    }
    .nav {
        display: none;
        font-size: 10px;
    }

    .section-1 {
        /* width: 1000px; */
        text-align: center;
        font-size: 10px;
    } 

    .flex {
        margin: 0 auto;
        font-size: 10px;
    }

    .table {
        display: none;
        text-align: left;
        float: left;
        margin-left: 0;
        margin-bottom: 30px;
        font-size: 10px;
     
    }

    table > tr ,th {
        font-size: 10px;
    }

    form , table {
        padding: 0 50px ;
        font-size: 10px;
    }

    iframe {
        height: 250px;
        width: 100%;
    }

    .para-div p {
        /* padding: 20px; */
        font-size: 10px;
        padding-top: 20px;
    }

    .gallery {
        display: block;
        font-size: 10px;
        padding: 50px;
        /* padding: 0 250px; */
        
    }

    .gl-box {
        width: 100%;
        font-size: 10px;

    }

    .para-div {
        display:block;
        width: 100%;
        padding-left: 100px;
        font-size: 10px;
    }

    .para-button {
        font-size: 15px;
        height: 50px;
    }

    .send {
        font-size: 15px;
        height: 50px;
    }

    .info-div {
        display: block;
        font-size: 10px;
    }

    .info {
        margin: 0 auto;
        padding: 30px;
        padding-top: 10px;
        width: 50%;
        font-size: 10px;
    }

    body {
        background: #093637;
    }

    .form-design , textarea {
        font-size: 10px;
    }

    footer {
        font-size: 20px;
    }

    small {
        font-size: 10px;
    }

    .mobile > h1  {
        font-size: 20px;
    }

    .mobile > p {
        font-size: 10px;
    }


}
